///###########################################
///###########################################
.accessoriesBlock {
  .param {
    font-size: 18px;
		letter-spacing: 1px;
    line-height: 1.467;

    span {
      display: inline-block;
      min-width: 70px;
      text-transform: none;
    }

  }

  .imgBox {
    max-width: 230px;
  }
}